<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244445171854-ljb0ul5e6p7tocrssgjafefocq4kkt4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244445171854-ljb0ul5e6p7tocrssgjafefocq4kkt4f</string>
	<key>API_KEY</key>
	<string>AIzaSyC3LAaEznGO2ve_2by037KTDQgigIySkUc</string>
	<key>GCM_SENDER_ID</key>
	<string>244445171854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.dashlingo.okepoint-dev</string>
	<key>PROJECT_ID</key>
	<string>okepoint-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>okepoint-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244445171854:ios:19ff78c2da9ffb530b79df</string>
</dict>
</plist>